.carousel {
    padding: 81px 0;
}

.carousel_inner {
    position: relative;
    width: 750px;
    margin: 0 auto;
}

.carousel_inner .carousel_img {
    width: 750px;
    height: 527px;
}